<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="/css/demo.css">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>

<body>

<header>
    <h1>About German's Adventure Corner</h1>
</header>

German's Adventure Corner welcomes you to the premier online shop for all your gaming computer needs.
Founded in 2024 by German Medina and his long time friend, Longfellow Deeds, German's Adventure Corner quickly
became the industry's go-to business for top of the line gaming products and parts. Please come see us.<br><br>

<a th:href="@{/mainscreen}" >Return to main page</a>
</body>
</html>